body { 
  background: #101010;
}

#popupWrapper,
#popup {
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
#popupWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);
  z-index: 999;
}
#popup {
  position: relative;
  height: 100%;
  width: auto;
  text-align: center;
}
#popup img {
  height: 80%;
  width: auto;
  position: relative;
  top: 10%;
}

.hide {
  display: none !important;
}